@using System.Web.Mvc.Html
@using Management.Models
@model StockUpdateQtyVM
<div class="box" id="StockInfoBox">
    <div class="box-header">
        <div class="box-name">
            <i class="fa fa-edit"></i>
            <span>修改数量</span>
        </div>
        <div class="box-icons">
            <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
            </a>
            <a class="expand-link">
                <i class="fa fa-expand"></i>
            </a>
            <a class="close-link" id="aClose">
                <i class="fa fa-times"></i>
            </a>
        </div>
        <div class="no-move"></div>
    </div>
    <div class="box-content" style="position: relative">
        <form class="form-horizontal" id="stockUpdateQtyForm">
            <div class="form-group">
                @Html.HiddenFor(o => o.Id, new { @id = "hiddenId" })
                @Html.LabelFor(o => o.Qty, "数量(增量)", new { @class = "col-sm-3 control-label", @for = "txtQty" })
                <div class="col-sm-8">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-info-circle"></i>
                        </span>
                        @Html.TextBox("Qty", "", new { @class = "form-control", @id = "txtQty" })
                        @*@Html.TextBoxFor(o => o.Qty, new { @class = "form-control", @id = "txtQty" })*@
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="text-center">
                    <button type="submit" class="btn btn-primary btn-label-left" id="stockUpdateQtyBtn">
                        <span><i class="fa fa-clock-o"></i></span>确定
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    $(function () {
        $('#stockUpdateQtyForm').bootstrapValidator({
            message: "输入有误",
            live: 'enabled',
            fields: {
                Qty: {
                    trigger: "blur",
                    validators: {
                        notEmpty: {
                            message: "数量不能为空"
                        },
                        regexp: {
                            regexp: /^(\-)?\d+(\.\d+)?$/,
                            message: "请输入正确的数量"
                        }
                    }
                }
            },
            submitHandler: function (validator, form, submitButton) {
                $.ajax({
                    url: "/Stock/UpdateQty",
                    data: form.serialize(),
                    dataType: 'json',
                    type: 'POST',
                    success: function (data) {
                        $.procAjaxData(data, function () {
                            demo.server.backend_UpdateStock($("#hiddenId").val(), $("#txtQty").val());
                            $('#StockInfoBox').remove();
                            //var dt = $('#StockTable').DataTable();
                            //dt.ajax.reload();
                        }, function () {
                            $("#stockUpdateQtyBtn").removeAttr("disabled");
                            return;
                        });
                    }
                });
            }
        });

        WinMove();
    });
</script>
