@model Front.Models.SignInVM
@{
    ViewBag.Title = "登录";
}

<div class="container" style="min-height: 600px; min-width: 1024px;">
  <div>
    <img src="~/Content/img/logo1.png" />
  </div>
  <div id="login" style="width: 700px; height: 304px; position: absolute; top: 50%; left: 50%; margin-left: -350px; margin-top: -150px;">
    <div>
      <div style="background-image: url(../../Content/img/logo2.png); background-position: 120px 30px; background-repeat: no-repeat; height: 300px; width: 340px;">
        <span style="font-size: 24px; position: absolute; top: 158px; left: 130px; font-weight: bolder;">迈科现货交易平台</span>
        <br />
      </div>

      <div style="width: 350px; height: 300px; position: absolute; right: 30px; top: 0px;">
        <div style="margin-top: 30px;">
          <div class="row text-center">
            <div class="col-md-12" style="font-size: 24px; font-weight: bolder;">用户登录</div>
          </div>
          <div class="row" style="margin-top: 10px;">
            <div class="col-md-8 col-md-offset-2" style="text-align: center;position:relative">
              <form id="loginForm">
                <div class="form-group" style="margin-bottom: 25px;">
                  @*<label class="control-label" for="LoginName">登录名</label>*@
                  <input type="text" class="form-control" name="LoginName" id="LoginName" placeholder="登录名" />
                </div>
                <div class="form-group" style="margin-bottom: 25px;">
                  @*<label class="control-label" for="Password">密码</label>*@
                  <input type="password" class="form-control" name="Password" id="Password" placeholder="密码" />
                </div>
                <div style="text-align: left">
                  <button class="btn btn-primary btn-label-left btn-block" type="submit" style="text-align:center;font-size:14px;height:26px">
                    <span style="float:left;">
                      <i class="fa fa-user fa-lg"></i>
                    </span>登　　录
                  </button>
                    
                </div>
              </form>
                <i class="fa fa-spinner fa-spin fa-lg" id="loading" style="position:absolute;bottom:15px;right:-10px;display:none;color:#F0F0F0"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div style="width: 700px; position: absolute; bottom: 45%; left: 34%; text-align:center;">
    <span style="font-size: 12px; position: absolute; top: 188px; left: 90px;">
      版权所有 © 2014 迈科金属集团 powered by 上海益润
    </span>
  </div>
</div>

<script type="text/javascript">
    $('#warningMsg').hide();
    $(document).ready(function () {
        $('.form-control').tooltip();

        $('#loginForm').bootstrapValidator({
            message: "输入有误",
            live: 'enabled',
            trigger: null,
            fields: {
                LoginName: {
                    trigger: "blur",
                    validators: {
                        notEmpty: {
                            message: "用户名不能为空"
                        }
                    }
                },
                Password: {
                    trigger: "blur",
                    validators: {
                        notEmpty: {
                            message: "密码不能为空"
                        }
                    }
                }
            },
            //submitButtons: '#submitBtn',
            submitHandler: function (validator, form, submitButton) {
                $("#loading").show();
                $.ajax({
                    url: "/Sign/In",
                    data: form.serialize(),
                    dataType: 'json',
                    type: 'POST',
                    success: function (data) {
                        $.procAjaxData(data, function () {
                            window.location = "/Home";
                        }, function () {
                            return;
                        });
                    },
                    complete: function () {
                        $("#loading").hide();
                    }
                });

            }
        });
    });

</script>
