<div class="row">
  <div id="reloginHint" class="box">
    <div class="box-header">
      <div class="box-name">
        <i class="fa fa-table"></i>
        <span>重新登录</span>
      </div>
      <div class="box-icons">
        <a class="close-link">
          <i class="fa fa-times"></i>
        </a>
      </div>
      <div class="no-move"></div>
    </div>
    <div class="box-content" style="position: relative; overflow: auto; max-height:475px;">
      登陆已过期，请重新<a href="/Sign/In">登录</a>
    </div>
  
  </div>
</div>

<script>
  $(document).ready(function () {
    WinMove();
  });
</script>