<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta charset="utf-8" />

    <title>@ViewBag.Title</title>
    <link rel="Shortcut Icon" href="~/Content/img/favicon.ico" />
    <link href="/Content/plugins/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/plugins/jquery-ui/jquery-ui.css" rel="stylesheet" />
    <link href="/Content/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/Content/css/font-righteous.css" />
    <link href="/Content/css/style.css" rel="stylesheet">
    <link href="/Content/plugins/fancybox/jquery.fancybox.css" rel="stylesheet">
    <link href="/Content/plugins/fullcalendar/fullcalendar.css" rel="stylesheet">
    <link href="/Content/plugins/xcharts/xcharts.min.css" rel="stylesheet">
    <link href="/Content/plugins/select2/select2.css" rel="stylesheet">
    <link href="/Content/plugins/datatables/media/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="/Content/plugins/datatables/media/css/jquery.dataTables_themeroller.min.css" rel="stylesheet" />
    <link href="/Content/css/bootstrap-switch.min.css" rel="stylesheet" />
    <link href="/Content/plugins/bootstrapvalidator/css/bootstrapValidator.min.css" />
    @*<link href="/Content/plugins/jquery-ui-timepicker-addon/jquery-ui-timepicker-addon.css" rel="stylesheet" />*@
    <link href="/Content/plugins/jquery-ui-timepicker-addon/jquery-ui-timepicker-addon.min.css" rel="stylesheet" />
    @*<link href="/Content/plugins/datatimepicker/css/bootstrap-datetimepicker.css" rel="stylesheet" />
    <link href="/Content/plugins/datatimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />*@
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="http://getbootstrap.com/docs-assets/js/html5shiv.js"></script>
      <script src="http://getbootstrap.com/docs-assets/js/respond.min.js"></script>
  <![endif]-->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!--<script src="http://code.jquery.com/jquery.js"></script>-->
    <script src="/Content/plugins/jquery/jquery-2.1.0.min.js"></script>
    <script src="/Content/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/Content/plugins/bootstrap/bootstrap.min.js"></script>
    <script src="/Content/plugins/justified-gallery/jquery.justifiedgallery.min.js"></script>
    <script src="/Content/plugins/tinymce/tinymce.min.js"></script>
    <script src="/Content/plugins/tinymce/jquery.tinymce.min.js"></script>
    <!-- All functions for this theme + document.ready processing -->
    <script src="/Content/plugins/bootstrapvalidator/js/bootstrapValidator.js"></script>
    @*<script src="/Content/plugins/bootstrapvalidator/js/bootstrapValidator.min.js"></script>*@
    <script src="/Content/plugins/select2/select2.min.js"></script>
    <script src="/Content/plugins/select2/select2_locale_zh-CN.js"></script>
    <script src="/Content/plugins/datatables/media/js/jquery.dataTables.js"></script>
    <script src="/Content/plugins/datatables/media/js/ZeroClipboard.js"></script>
    <script src="/Content/plugins/datatables/media/js/TableTools.js"></script>
    <script src="/Content/plugins/datatables/media/js/dataTables.bootstrap.js"></script>
    <script src="/Content/plugins/layer/layer.min.js"></script>
    <script src="/Content/js/devoops.js"></script>
    <script src="/Scripts/MyMisc.js"></script>
    <script src="/Scripts/bootstrap-switch.min.js"></script>
    @*<script src="/Content/plugins/jquery-ui-timepicker-addon/jquery-ui-timepicker-addon.js"></script>*@
    <script src="/Content/plugins/jquery-ui-timepicker-addon/jquery-ui-timepicker-addon.min.js"></script>
    @*<script src="/Content/plugins/datatimepicker/js/bootstrap-datetimepicker.js"></script>
    <script src="/Content/plugins/datatimepicker/js/bootstrap-datetimepicker.min.js"></script>*@
    <style>
      .box {
        margin-bottom: 7px;
        font-size: 12px;
        color:black;
      }

      table.dataTable tbody td {
        padding-top: 4px;
        padding-bottom: 4px;
      }
    </style>
</head>
<body>

    @RenderBody()

</body>
</html>
